<div class="card rounded-0">
  <div class="p-3">
    <app-customer-search (search)="onSearch($event)"></app-customer-search>
    <ol class="list-group list-group-numbered mt-3 ">
      <app-customer-detail
        *ngFor="let customer of customers"
        [customer]="customer"
      ></app-customer-detail>
    </ol> 
  </div>
  
  <nav aria-label="Page navigation">
    <ul class="pagination paginationContainer justify-content-center mt-3">
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="onPaginateCustomer(page - 1)" tabindex="-1">
          <fa-icon [icon]="icons.prev"></fa-icon>
        </a>
      </li>
      <li class="page-item" *ngFor="let p of pages" [class.active]="p === page">
        <a class="page-link" (click)="onPaginateCustomer(p)">{{ p }}</a>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" (click)="onPaginateCustomer(page + 1)">
          <fa-icon [icon]="icons.next"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>
