<li
  *ngIf="customer"
  
  class="list-group-item d-flex justify-content-between align-items-start rounded"
>
  <div class="ms-2 me-auto">
    <div class="fw-bold"> {{ customer.name }} 
      <span
        class="badge rounded-pill"
        [ngClass]="{
          'text-bg-danger': customer.status === 'macet',
          'text-bg-primary': customer.status === 'lancar',
          'text-bg-success': customer.status === 'lunas'
        }"
      >
      {{ customer.status }}
    </span>
  </div>
    {{ customer.email }}
  </div>
  
  <button class="btn btn-md btn-outline-secondary" type="button" (click)="customerReservasi()">
    <fa-icon [icon]="icons.select"></fa-icon>
  </button>
</li>

<li
  *ngIf="!customer"
  class="list-group-item d-flex justify-content-between align-items-start"
>
  No customer choice...
</li>
